/*---------------------------------------
 PLACEHOLDER
----------------------------------------- */
input::-moz-placeholder {
  text-overflow: ellipsis;
}

textarea:-ms-input-placeholder {
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #555;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #555;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #555;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #555;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #c0301c;
}

/* -----------------------------------------
 GLOBAL
----------------------------------------- */
html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

body {
  font: 400 14px/1.7 'Roboto Slab', serif;
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  height: 50px;
  line-height: 46px;
  border: 2px solid currentColor;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.btn:hover {
  opacity: 0.5;
}

.title {
  margin-bottom: 27px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.title--line-sep:after {
  content: '';
  display: block;
  margin: 27px auto 0;
  height: 2px;
  width: 50px;
  background-color: currentColor;
}

.subtitle {
  margin: auto;
  width: 63%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.slick-slide {
  outline: 0;
}

/* -----------------------------------------
 HEADER
----------------------------------------- */
header {
  min-height: 100vh;
  padding: 35px 0 250px;
  background: #652221 url("../img/header-bg.jpg") 50% no-repeat;
  background-size: cover;
  color: #fff;
}

.logo {
  float: left;
}

nav {
  float: right;
  font-family: "Montserrat", sans-serif;
}

.menu {
  font-size: 0;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.025em;
}

.menu__item:not(:first-child) {
  margin-left: 30px;
}

.menu__link {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu__link--head-hover:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  left: 0;
  height: 3px;
  opacity: 0;
  background-color: #FFF;
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu__link--head-hover:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.banner {
  margin-top: 250px;
  font-size: 20px;
  text-align: center;
}

.banner__title {
  font-size: 48px;
}

.banner__btn {
  margin-top: 50px;
}

/* -----------------------------------------
 SERVICES
----------------------------------------- */
.services {
  padding: 95px 0;
  text-align: center;
}

.service {
  padding-top: 65px;
}

.service__icon-box {
  display: block;
  margin: 0 auto 25px;
  width: 90px;
  height: 90px;
  font-size: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ddd;
}

.service__icon-box:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.service__icon {
  vertical-align: middle;
  font-size: 43px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #c0301c;
}

.service__title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.service:hover .service__icon-box,
.service:hover .service__icon {
  background-color: #c0301c;
  color: #FFF;
}

/* -----------------------------------------
 ABOUT
----------------------------------------- */
.about {
  padding: 95px 0;
  text-align: center;
  background-color: #f8f8f8;
}

.about__subtitle {
  margin-bottom: 65px;
  font-size: 16px;
}

.slider {
  position: relative;
  margin-top: 70px;
}

.slider__img-box {
  position: relative;
  margin-bottom: 20px;
}

.slider__img-box:hover .overlay {
  opacity: 1;
}

.slider__img {
  display: block;
}

.slider__overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 30px;
  background-color: rgba(85, 85, 85, 0.5);
}

.slider__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.slider .slick-arrow {
  position: absolute;
  top: 32%;
  width: 35px;
  height: 38px;
  border: 0;
  outline: 0;
  text-indent: -9999px;
  line-height: 37px;
  font-size: 26px;
  background-color: rgba(85, 85, 85, 0.2);
  color: #FFF;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.slider .slick-arrow:hover {
  background-color: #c0301c;
}

.slider .slick-prev {
  left: 15px;
}

.slider .slick-prev:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/slider-prev.svg") 50% no-repeat;
}

.slider .slick-next {
  right: 14px;
}

.slider .slick-next:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/slider-next.svg") 50% no-repeat;
}

.slider .slick-slide {
  outline: 0;
}

.social__link {
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 16px;
  color: #FFF;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__link:hover {
  background-color: #c0301c;
}

/* -----------------------------------------
 WORK
----------------------------------------- */
.work {
  padding: 100px 0;
  text-align: center;
}

.work__menu {
  margin-bottom: 70px;
}

.work__img-box {
  position: relative;
}

.work__img-box:hover .overlay {
  opacity: 0.7;
}

.work__img {
  display: block;
}

.menu__link--active {
  color: #c0301c;
}

.menu__link--work-hover:hover {
  color: #c0301c;
}

.work-filter {
  margin: 0 auto;
}

.work-filter__item {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .work-filter__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 769px) {
  .work-filter__item {
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.work-overlay {
  padding: 100px 0 100px;
  font-size: 12px;
  opacity: 0;
  background-color: #c0301c;
  color: #FFF;
}

.work-overlay__title {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.work-overlay__btn {
  margin-top: 25px;
  padding: 0 20px;
  font-size: 14px;
  border-color: #FFF;
  background-color: #FFF;
  color: #c0301c;
}

.work-overlay__icon {
  font-size: 21px;
  padding-left: 10px;
  vertical-align: text-bottom;
}

/* -----------------------------------------
 TO-ACTION
----------------------------------------- */
.to-action {
  padding: 90px 0 100px;
  text-align: center;
  background: #c0301c url("../img/action-bg.jpg") 50% no-repeat;
  background-size: cover;
  color: #FFF;
}

.to-action__title {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.47;
}

.to-action__title--upper {
  text-transform: uppercase;
}

.to-action__btn {
  padding: 0 20px;
}

/* -----------------------------------------
 POSTS
----------------------------------------- */
.posts {
  padding: 90px 0 100px;
  text-align: center;
}

.posts__subtitle {
  margin-bottom: 30px;
}

.post {
  padding: 37px 0;
  border-bottom: 1px solid #ddd;
}

.post:hover .post-content__link, .post:hover .post-content__title {
  color: #c0301c;
}

.post:first-child {
  margin-top: 30px;
}

.post-content {
  text-align: left;
}

.post-content__head {
  display: inline-block;
  width: 74%;
}

.post-content__title {
  color: #777;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.post-content__subtitle {
  font-size: 13px;
  font-style: italic;
  color: #555;
}

.post-content__link {
  color: #777;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.post-content__link--uppercase {
  text-transform: uppercase;
  font-weight: 700;
}

.post-content__text {
  margin-bottom: 30px;
}

.post-date {
  display: inline-block;
  vertical-align: middle;
  margin-right: 23px;
  margin-bottom: 20px;
  text-align: center;
  width: 76px;
  height: 76px;
  border: 2px solid #555;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
}

.post-date__text {
  font-size: 14px;
}

.post-date__text--big {
  font-size: 24px;
}

/* -----------------------------------------
 CLIENTS
----------------------------------------- */
.clients {
  padding: 85px 0;
  background-color: #f8f8f8;
  text-align: center;
}

.clients__box {
  margin-bottom: 50px;
}

.clients .slick-dots {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  text-align: center;
}

.clients .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  background-color: #ddd;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 4px;
  cursor: pointer;
}

.clients .slick-dots li.slick-active {
  background-color: #c0301c;
}

.clients .slick-dots button {
  font-size: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.client {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 145px;
}

.client + .client {
  margin-left: 4.8%;
}

.clients-slide__title {
  display: inline-block;
  width: 70%;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 33px;
}

.clients-slide__author {
  font-size: 20px;
  margin-bottom: 54px;
}

/* -----------------------------------------
 CONTACT
----------------------------------------- */
.contact {
  padding: 90px 0 100px;
  background-color: #fff;
}

.title-box {
  margin-bottom: 70px;
  text-align: center;
}

.contact-info {
  font-size: 12px;
}

.contact-info__item {
  margin-bottom: 31px;
}

.contact-info__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.contact-info__icon {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 22px;
}

.contact-info__icon--mail {
  font-size: 16px;
}

.contact-info__text {
  padding-left: 25px;
}

.contact-form__item {
  margin-bottom: 21px;
}

.contact-form__filed {
  padding: 14px 15px;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #555;
}

.contact-form__filed--big {
  max-width: 100%;
  resize: none;
}

.contact-form__btn {
  margin-right: 35px;
  font-size: 12px;
  border: 1px solid #555;
  color: #555;
}

.contact-form__text {
  display: inline-block;
  vertical-align: middle;
  width: 56%;
  font-size: 12px;
}

.contact-form__text--color {
  color: #c0301c;
  font-weight: 700;
}

/* -----------------------------------------
 FOOTER
----------------------------------------- */
footer {
  padding: 90px 0 95px;
  background-color: #c0301c;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
}

footer .title--line-sep:after {
  margin-bottom: 25px;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2.5px, 0);
    transform: translate3d(0, 2.5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2.5px, 0);
    transform: translate3d(0, 2.5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

.social {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
}

.social__item + .social__item {
  margin-left: 15px;
}

.social__link {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 31px;
  border: 2px solid #fff;
  text-align: center;
  font-size: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.social__link:hover {
  overflow: hidden;
}

.social__link:hover .social__icon {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

/*# sourceMappingURL=c:/OpenServer/domains/beetroot.loc/HTML-01/lesson-21/startup-slick/map/style.css.map */
