//---GLOBAL---
@mixin section-title() {
	margin-bottom: 70px;
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
}

@mixin bg-transition() {
	background-position: 50%;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
}

